body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.object-container {
    padding: 14px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.object-image {
    width: 100px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.object-title {
    margin: 0px;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

.select-button {
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px; /* Cambia el radio de borde si es necesario */
    padding: 12px 20px; /* Aumenta el espacio para hacerlo más grande */
    font-size: 1.2em; /* Aumenta el tamaño del texto */
    background: #007BFF linear-gradient(145deg, #285ba7, #214a88); /* No es necesario cambiar el degradado */
    color: white; /* Mantén el texto en blanco */
    border: none; /* Mantén el borde en none */
    cursor: pointer;
}

.select-button:hover {
    background-color: #0056b3;
    transform: translateY(-0.8px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* Aumenta ligeramente la sombra para mayor efecto */
}

.object-list-container {
    font-family: 'Roboto', sans-serif;
    width: 47%;
    margin: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(241, 243, 248);
    max-height: 700px;
    overflow-y: auto;
    float: left;
}

.list-container-heading {
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.7);
}

.list-container-heading, .selection-list-container h3 {
    color: #003366; /* Azul más oscuro */
    margin-left: 20px;
    font-weight: 600; /* Aumentar el grosor del texto */
    letter-spacing: 0em; /* Añadir espacio entre letras */
}


.list-item {
    border-bottom: 1px solid rgba(150, 150, 150, 0.7);
    margin-bottom: 10px;
}

.list-item:last-child {
    border-bottom: none;
}

.selection-list-container {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    float: left;
    margin: 20px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(241, 243, 248);
    height: 380px; /* Establecer altura fija */
    overflow-y: auto; /* Permitir desplazamiento si se supera la altura */
}

.selection-list-container h3 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 12px;
}

.selection-list-container ul {
    list-style: none;
    padding: 0;
}

.selection-list-container .list-item {
    display: flex; /* Cambiar a diseño flex para organizar mejor los elementos */
    align-items: center; /* Centrar verticalmente el texto y los inputs */
    justify-content: space-between; /* Asegurar que el texto esté a la izquierda y los inputs a la derecha */
    font-size: 1.6em;
    line-height: 1.6; /* Aumentar el espacio entre líneas */
    margin-bottom: 15px;
    padding: 12px;
    background: #e8f1fc;
    border-radius: 5px;
    border: 1px solid #007BFF;
    color: #2e4053;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.selection-list-container .list-item:last-child {
    margin-bottom: 0;
}

/* Botón AR más grande */
.arbuilder-button {
    width: 50%; /* Ajusta el ancho según sea necesario */
    height: 90px; /* Ajusta la altura según sea necesario */
    margin: 10px auto 0; /* Centrar el botón */
    background: linear-gradient(145deg, #497faf, #193d70); /* Añadir un degradado */
    border: 0px solid #66c0e6; /* Borde más definido */
    color: white;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Añadir sombra */
    border-radius: 8px; /* Esquinas más nítidas */
    transition: all 0.35s ease; /* Transición suave */
}

.arbuilder-button:hover {
    transform: translateY(-3px); /* Efecto de flotación */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4); /* Aumentar la sombra al pasar el cursor */
}

.go-ar-button {
    width: 50%;
    height: 90px;
    margin: 20px auto 10px;
    background: linear-gradient(145deg, #2bbd5e, #15a315);
    border: 0px solid #006400;
    color: white;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px; /* Esquinas más nítidas */
    transition: all 0.35s ease; /* Transición suave */
}

.go-ar-button:hover {
    transform: translateY(-3px); /* Efecto de flotación más ligero */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4); /* Sombra más profunda */
}

.arsaver-button{
    width: 50%; /* Ajusta el ancho según sea necesario */
    height: 90px; /* Ajusta la altura según sea necesario */
    margin: 10px auto 0; /* Centrar el botón */
    background: linear-gradient(145deg, #353b87, #323cae); /* Añadir un degradado */
    border: 0px solid #66c0e6; /* Borde más definido */
    color: white;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Añadir sombra */
    border-radius: 8px; /* Esquinas más nítidas */
    transition: all 0.35s ease;
}

.input_escala {
    width: 80px;
    margin-left: 10px; /* Añadir espacio a la izquierda para separarlo del texto */
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    text-align: center;
    background-color: #f0f4f8;
    color: #285ba7;
    transition: box-shadow 0.2s, border-color 0.2s;
}

.input_escala:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
    border-color: #007BFF;
}